data_provider: "http://data.cryptotrader.org"
platform: "mtgox"
instrument: "btc_usd"
period: "1h"
init_data_length:250
check_order_interval: 30

socket_io:
  transports: [
    "websocket"
    "xhr-polling"
    "jsonp-polling"
  ]

platforms:
  mtgox:
    min_order: 0.01
    max_retries: 10
    retry_interval: 15
  bitstamp:
    min_order: 0.01 
    max_retries: 10
    retry_interval: 15
  btce:
    min_order: 0.01
    max_retries: 10
    retry_interval: 15

